

/* Service Card */
.service-card {
  border-radius: 12px;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.service-card:hover {
  transform: translateY(-5px);
}

.service-card img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.service-card-content {
  padding: 15px;
}

.service-card-title {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.service-card-description {
  font-size: 1rem;
  color: #555;
}

.slick-prev:before, .slick-next:before {
  color: black;
}

.slick-slide img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
}

.brand-color {
  color: #1E90FF!important;
}

.alt-brand-color:hover {
  color: #1E90FF;
}

.bg-brand-color {
  background-color: #1E90FF!important;
}

.hero-section {
  background: linear-gradient(180deg, #6A89CC, #4A69BD);
  color: white; /* To ensure the text stands out */
  padding: 50px;
  text-align: center;
  border-radius: 10px;
}

.hero-section img {
  border-radius: 50%;
  margin-bottom: 20px;
}

.hero-section h1 {
  font-size: 3em;
  margin-bottom: 20px;
}

.hero-section p {
  font-size: 1.2em;
  line-height: 1.5em;
}

@keyframes bgShift {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.animate-bgShift {
  background-size: 200% 200%;
  animation: bgShift 8s infinite alternate;
}

.text-gold {
  color: #FFD700; /* Vibrant gold color */
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.animate-blink {
  animation: blink 1s step-start infinite;
}

